body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 160px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;;
}

header nav ul li {
    margin: 0 15px;
    margin-top: 5px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    margin-left: 200px;
    padding: 20px;
}

main section {
    margin-bottom: 2rem;
}

#topic {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

#topic h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

#topic p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}

#topic h2 {
    font-size: 2rem;
    margin-top: 20px;
}

#topic h3 {
    font-size: 1.6rem;
    margin-top: 15px;
    color: #555;
}

#topic ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#topic ul li {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #555;
}

.hardware-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #topic h1 {
        font-size: 2rem;
    }

    #topic p {
        font-size: 1rem;
    }

    #topic h2 {
        font-size: 1.5rem;
    }

    #topic h3 {
        font-size: 1.4rem;
    }

    .hardware-image {
        width: 90%;
    }
}
