body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 160px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;;
}

header nav ul li {
    margin: 0 15px;
    margin-top: 5px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    margin-left: 200px;
    padding: 20px;
}

main section {
    margin-bottom: 2rem;
}

#about {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

#about h1 {
    font-size: 2.5rem;
    color: #333;
}

#about p {
    font-size: 1.2rem;
    color: #555;
    margin-top: -20px;
}

#about h2 {
    font-size: 2rem;
    margin-top: 30px;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.imagen {
    width: 190px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.social-links li {
    display: inline;
    margin: 0 15px;
}

.social-links a {
    text-decoration: none;
    font-weight: bold;
    color: #0073e6;
}

.social-links a:hover {
    text-decoration: underline;
}

/* REPONSIVE */
@media (max-width: 768px) {
    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        width: 80%;
    }

    .social-links li {
        display: block;
        margin: 10px 0;
    }
}
