body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 160px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;;
}

header nav ul li {
    margin: 0 15px;
    margin-top: 5px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    margin-left: 200px;
    padding: 20px;
}

main section {
    margin-bottom: 2rem;
}

#contact {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

#contact h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

#contact p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 1.1rem;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #contact h1 {
        font-size: 2rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 1rem;
    }

    .form-group button {
        font-size: 1rem;
    }
}
