body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 160px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;;
}

header nav ul li {
    margin: 0 15px;
    margin-top: 5px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    margin-left: 200px;
    padding: 20px;
}

main section {
    margin-bottom: 2rem;
}

#fii {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
}

#fii h1 {
    font-size: 2.3rem;
    margin-bottom: 1px;
    color: #333;
}

#fii h2 {
    font-size: 1.8rem;
    margin-top: 15px;
    color: #444;
}

#fii p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-top: 1px;
}

#fii ul {
    list-style: disc;
    padding-left: 200px;
    margin-top: 1px;
    text-align: left;  
    width: 100%;  
}

#fii ul li {
    font-size: 1.1rem;
    margin: 1px 0;
    color: #555;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    #bienvenida h1 {
        font-size: 2rem;
    }

    #bienvenida p, #contenido-destacado ul li {
        font-size: 1rem;
    }

    .imagen-bienvenida {
        width: 90%;
    }
}
